/*文件详情*/
.file-details{
  width 100%;
  height 100%;
  .file-info{
    display flex;
    align-items center;
    padding 0 4%;
    height 100px;
    .thmub{
      display flex;
      align-items center;
      height 80%;
      span{
        font-size 70px;
      }
      img{
        width 70px;
        height 70px;
      }
    }
    .item{
      display flex;
      flex-direction column;
      justify-content center;
      width 70%;
      height 80%;
      margin-left 3%;
      .title{
        height 30px;
        line-height 30px;
        span{
          color #222222;
          font-size 14px;
        }
      }
      .date-num{
        height 30px;
        line-height 30px;
        span{
          color #cccccc;
          font-size 14px;
          margin-left 5px;
        }
      }
    }
  }
  // 文件操作
  .file-operation{
    padding 0 4%;
    margin 10px auto;
    .operation-tab{
      .shar-password{
        width 70%;
        border 1px solid #eeeeee;
        border-radius 5px;
        padding 0 4%;
        margin-left 3%;
      }
      .link{
        width 100%;
        line-height 25px;
        .ti{
          font-size 14px;
          color assist-clor;
        }
      }
      .pass{
        height 40px;
        line-height 40px;
        span{
          font-size 14px;
          margin-right 10px;
          color #999999;
          input{
            background-color transparent;
          }
        }
      }
      .demonstration{
        font-size 14px;
        color #9c9ea5;
      }
      .create-btn{
        margin-top 20px;
      }
    }
  }
}
