/****************颜色class**********************/
// 基础背景色
.base-bg{
  background-color: base;
}
// 基础文字色
.base-color{
  color: base;
}
// 基础边框色
.base-br{
  border-color: base;
}
// 基础背景透明度
.base-bg-rg01{
  background-color rgba01;
}
.base-bg-rg02{
  background-color rgba02;
}
.base-bg-rg03{
  background-color rgba03;
}
.base-bg-rg04{
  background-color rgba04;
}
.base-bg-rg05{
  background-color rgba05;
}
.base-bg-rg06{
  background-color rgba06;
}
.base-bg-rg07{
  background-color rgba07;
}
.base-bg-rg08{
  background-color rgba08;
}.base-bg-rg09{
  background-color rgba09;
}
// 辅色背景色
.assist-bg{
  background-color: assist-clor;
}
// 辅色文字色
.assist-color{
  color: assist-clor;
}
// 渐变背景色
.gradual-bg{
  background linear-gradient(to right,change-clor,base);
}
// 渐变文字色
.gradual-color{
  content: attr(text);
  position: relative;
  z-index: 10;
  color:base;
  -webkit-mask:linear-gradient(to bottom, change-clor, rgba(0,0,0,0.8));
}
