// 主要颜色
base            = #409EFF; // 基础颜色
assist-clor     = #67C23A; // 辅助颜色
change-clor     = #0E83FB; // 渐变色
floor-clor      = #fafafa; // 底部颜色
rgba01          = rgba(201,49,51,0.1); // 主色透明度0.1
rgba02          = rgba(201,49,51,0.2); // 主色透明度0.2
rgba03          = rgba(201,49,51,0.3); // 主色透明度0.3
rgba04          = rgba(201,49,51,0.4); // 主色透明度0.4
rgba05          = rgba(201,49,51,0.5); // 主色透明度0.5
rgba06          = rgba(201,49,51,0.6); // 主色透明度0.6
rgba07          = rgba(201,49,51,0.7); // 主色透明度0.7
rgba08          = rgba(201,49,51,0.8); // 主色透明度0.8
rgba09          = rgba(201,49,51,0.9); // 主色透明度0.9
/// Text Color
color-text-base         = #111A34 // 重要信息，如一级标题
color-text-base-inverse = #FFF
color-text-body         = #41485D // 普通信息，如正文主要内容
color-text-minor        = #666f83 // 次要信息，如利益点、摘要
color-text-caption      = #858B9C // 辅助信息，如列表内容描述
color-text-disabled     = #C5CAD5 // 禁用状态
color-text-placeholder  = #C5CAD5 // 默认提示输入或占位
color-text-highlight    = color-primary // 高亮状态
color-text-warn         = #FF7D41 // 利益点，警告提示
color-text-error        = #FF5257 // 强提示报错
color-text-link         = #5878B4 // 文字链接

